.comp-col, .user-col {
  color: red;
  padding: 10px;
  margin: 2px;
  text-align: center;
  border: 1px solid black;
}

span {
}

.comp-row, .user-row {
  padding: 10px;
  margin: 10px;
}

.comp-board-ctn, .user-board-ctn {
  text-align: center;
  margin: 5px;
  border: solid 1px red;
}

.game {
  display: flex;
  justify-content: space-around;
}