html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.game {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
      132deg,
      rgba(42, 42, 43, 0.8) 0%,
      rgba(255, 255, 255, 0.01) 100%
    ),
    url(../background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
